/*  PALETTE DE COULEUR #968664  #3D2C12*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #968664;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #3D2C12;
    color: white;
    width: 100vw; 
    box-sizing: border-box; 
    overflow: hidden; 
    
}


.navbar-logo img {
    width: 100px;
    margin-bottom: -10px;
    margin-top: -10px;
}

.navbar-img {
    display: flex;                
    justify-content: flex-end;    
    gap: 2em;   
    margin-right: -40%; 
}

.navbar-img a img {
    width: 50px;
    height: auto;
}

.navbar-img button img {
    width: 50px;
    height: auto;
    
}

.navbar-img button {
    background: none;
    border: none;
    cursor: pointer;
    
}

.navbar-menu {
    display: flex;
    gap: 1em;
    margin-left: -55vh;
}

.navbar-menu a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    gap: 50px;
    padding: 0.5em 1em;
    transition: background-color 0.3s;
}

.navbar-menu a:hover {
    background-color: #3D2C12;
}

.burger {
    display: none;
}

/* ETAT PAR DEFAUT */

label #burger {
    width: 50px;
    height: 50px;
    position: relative;
    background: none;
    border: none;
} 

label #burger div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 80%;
    height: 10%;
    border-radius: 20px;
    transition: top 0.5s 0.5s, width 0.5s 0.75s, transform 0.5s;
}

/* grace au combinateur "+", on peut chercher un élément qui en suit directement un autre, ici :
on désigne un bouton qui se trouverait juste apres une case a cocher cochée  */

#case_secrete:checked + label #burger div {
    transition: top 0.5s 0.25s, width 0.5s, transform 0.5s 0.75s;
}

label #burger div:first-child {
    top: 30%;
}

label #burger div:last-child {
    top: 70%;
}

/********* ETAT 2 ********/

#case_secrete:checked + label #burger div:first-child,
#case_secrete:checked + label #burger div:last-child {
    top: 50%;
}

#case_secrete:checked + label #burger div:nth-child(2) {
    width: 40%;
    width: 0;
}

#case_secrete:checked + label #burger div:first-child {
    transform: translate(-50%, -50%) rotate(45deg);
}

#case_secrete:checked + label #burger div:last-child {
    transform: translate(-50%, -50%) rotate(-45deg);
}

/********************************/

#case_secrete {
    display: none;
}

label {
    display: block;
    width: fit-content;
}

/* Styles responsive */
@media (max-width: 1000px) {

    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 30%;
        position: absolute; 
        top: 5em;
        text-align: center;
        justify-items: end;
        right: 0;
        background-color: #3D2C12;
        padding: 1em 0;
    }

    .navbar-menu.active {
        display: flex;
    }

    .burger {
        display: block;
        margin-right: 0.5em;
        margin-left: 5vw;

    }

    .navbar-img {
        display: flex;                
        justify-content: flex-end;    
        gap: 1em;   
        margin-right: -50%; 
    }

    .navbar {
        width: 100vw; /* Utilise 100% de la largeur de la fenêtre */
    }

    
    
}

@media (max-width: 500px) {

    .navbar-img {
        display: flex;                
        justify-content: flex-end;    
        gap: 1em;   
        margin-left: -20vw;
    }
}

/********************POSITIONEMENT 5 PREMIERE IMAGE**************************************/

h1 {
    text-align: center;
    font-family: "MedievalSharp", cursive;
    font-size: 45px;
    border: 3px solid black;
    width: 30vw;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border-style: double;
}

.container_1 {
    display: flex;
    width: 83.3%;
    height: 100%;
    margin: auto
}

    /*DEUXIEME PHOTO*/
.image1-container  img{
    width: 140%;
    height: auto;
}

    /*DEUXIEME PHOTO*/
.image2-container img{
    display: flex;
    width: 140%;
    height: 11.8vw;
    margin-top: 2em;
    /*829.5 x 215.45*/
}

.image3-container img {
    display: flex;
    width: 59%;
    height: auto;
    margin-left: 35%;
    margin-top: 0em;
}

.image4-container img{
    display: flex;
    width: 59%;
    height: auto;
    margin-left: 35%;
    margin-top: 3%;
}

.image5-container img{
    display: flex;
    width: 59%;
    height: auto;
    margin-left: 35%;
    margin-top: 2em;
}


/**************************************FIN**************************************/






/*******************POSITIONEMENT TITRE ET BOUTON EN SAVOIR PLUS ***********************/

.image4-container, .image3-container, .image5-container, .image1-container{
    position: relative;
    display: inline-block;
}


/* Style pour le h3 */
.image4-container h3, .image5-container h3 {
    position: absolute;
    top: 2vh; 
    left: 36%; 
    font-size: 25px; 
    font-weight: bold; 
    color: white;
    background-color: rgba(0,0,0, 0.7);
    padding: 0.5%;
    border-radius: 5px;
}

.image3-container h3 {
    position: absolute; 
    top: -1.1vh;
    left: 36%; 
    font-size: 25px; 
    font-weight: bold; 
    color: white;
    background-color: rgba(0,0,0, 0.7);
    padding: 0.5%;
    border-radius: 5px;
}

.image1-carre  {
    position: absolute; 
    top: 16vw;
    left: 35%; 
    width: 70%;
    height: 30%;
    font-size: 25px; 
    font-weight: bold; 
    color: white;
    background-color: rgba(0,0,0, 0.5);
    padding: 0.5%;
    border-radius: 5px;
}


.image1-container div div h3 {
    position: absolute; 
    width: 68%;
    font-size: 25px; 
    font-weight: bold; 
    color: white;
    padding: 0.5%;
    border-radius: 5px;
    margin-left: 25%;
    margin-top: 1%;
    
}



/*STYLE POUR LE BOUTON*/
.image4-container button, .image3-container button, .image5-container button , .image1-container div div button{
    
    cursor: pointer;
    position: absolute;
    bottom: 0; 
    margin-bottom: 1%;
    left: 49%; 
    font-size: 20px; 
    font-weight: bold; 
    color: white;
    background-color: rgba(150,134,100,0.5);
    padding: 5px;
    border: 0;
    width: 30%;
}

.image4-container button a, .image3-container button a, .image5-container button a , .image1-container div div button a{
    color: white;
}



/*******************POSITIONEMENT FIN***********************/
.image1-container div div button {
    width: 70%;
    left: 15%;
    bottom: 4%;
    
    
}


/*******************FORMATION***********************/

h2 {
    font-family: "MedievalSharp", cursive;
    font-size: 45px;
    text-align: center;
    border: 3px solid black;
    width: 30vw;
    margin: auto;
    border-style: double;
    margin-top: 5%;


    

}


  

.container_2 {
    /* border: 3px solid black; */
    display: flex;
    width: 83.3%;
    height: 40em;
    margin: auto
}

.video_page1 {
    width: 85%;
    height: 30em;
    margin-top: 3em;
}

.video_page1 iframe {
    width: 100%;
    height: 100%;
}

.container_2 div:last-child {
    width: 65%;
    
}

.container_2 div p   {
    text-align: justify;
    margin-top: 3em;
    margin-left: 10%;
    margin-right: 5%;
    width: 80%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container_2 div button {
    cursor: pointer;
    width: 30%;
    height: 4em;
    float: right;
    margin-right: 10%;
    align-self: center;
    background-color: rgba(168, 147, 100, 0.5);
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.container_2 div button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.container_2 div button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.img_forma {
    display: flex;
    width: 83.3%;
    height: 17em;
    margin: auto; margin-top: -5em;
}

.img_forma img {
    width: 30%;
    height: auto;
}

.img_forma img:first-child {
    margin-right: 3%;
}

.img_forma img:last-child {
    margin-left: 3%;
}




@media  (max-width: 1000px) {

    h2 {
        margin-top: 1.5em;
        width: 55vw;
        font-size: 22px;
    }

    .container_2 {
        display: flex;
        flex-direction: column;
        height: auto;
        
    }


    .video_page1 iframe{
        width: 100%;
    }

    .video_page1 {
        border: solid black 3px;
        width: 80vw;
        height: 45vw;
        
        margin: auto;
        margin-top: 2em;
    }

    .container_2 p {
        width: 85%;
        text-align: center;
    }

    .container_2 div p {
        width: 80vw;
        height: auto;
        margin: auto;
        margin-top: 1em;
    }

    .container_2 div button {
        
        width: 60%;
        margin: auto;
        margin-top: 5vw;
    }

    .img_forma {
        
        flex-direction: column;
        margin: auto;
        margin-top: 4em;
        width: 80%;
        height: auto;
       
    }

    .img_forma img {
        width: 100%;
    }

    .img_forma img:first-child {
        margin-right: 0;
    }

    .img_forma img:nth-child(2) {
        margin-right: 0;
        margin-top: 3%;
    }
    
    .img_forma img:last-child {
        margin-left: 0;
        margin-top: 3%;
    }
}

/*******************FIN FORMATION***********************/



/*******************FOOTER***********************/

footer div {
    margin-top: 2em;
    width: 100%;
    height: 10em;
    background-color: black;
}

footer div h4 {
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 2.8%;
}

/*******************FIN FOOTER***********************/


@media (max-width: 1000px) {

    h1 {
        margin-top: 1.5em;
        width: 55vw;
        font-size: 22px;
    }

    .container_1 {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    /*PREMIERE PHOTO*/
    .container_1 div:first-child img:first-child {
        width: 100%;
        height: auto;
    }
    /*DEUXIEME PHOTO*/
    .container_1 div:first-child img:last-child {
        display: flex;
        width: 100%;
        height: 25%;
        margin-top: 2em;
    }
    
    .image3-container img, .image4-container img, .image5-container img {
        display: flex;
        width: 59%;
        height: auto;
        margin: auto;
        margin-top: 2em;
        
        
    }

    .image4-container img, .image5-container img {
        width: 100%;
    }

    .image1-carre {
        margin-left: -15%;
        margin-top: 20vw;
        width: 50vw;
    }
    
    .image1-container div div h3 {
        font-size: 15px;
        margin-left: 12vw;
    }

    .image1-container div div button {
        width: 33vw;
        font-size: 15px;
        margin-left: 2%;
    }
    
    .image3-container h3, .image4-container h3, .image5-container h3 {
        font-size: 18px;
        margin-top: 10vw;
        margin-left: -35%;
        
    }

    .image4-container h3, .image5-container h3 {
        margin-top: 7vw;
    }

    .image3-container button, .image4-container button, .image5-container button {
        width: 50vw;
        margin: auto;
        margin-left: -29%;
        margin-bottom: 1vw;
        
    }


    
}