/*  PALETTE DE COULEUR #968664  #3D2C12*/


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #968664;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #3D2C12;
    color: white;
}
.navbar-logo img {
    width: 100px;
    margin-bottom: -10px;
    margin-top: -10px;
}

.navbar-img {
    display: flex;                
    justify-content: flex-end;    
    gap: 3em;   
    margin-right: -45%; 
}

.navbar-img a img {
    width: 50px;
    height: auto;
    
}

.navbar-menu {
    display: flex;
    gap: 1em;
    margin-left: -55vh;
    
}
.navbar-menu a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: block;
    gap: 50px;
    padding: 0.5em 1em;
    transition: background-color 0.3s;
    
}
.navbar-menu a:hover {
    background-color: #3D2C12;
}




.burger {
    display: none;
}

/* ETAT PAR DEFAUT */

label #burger {
    width: 50px;
    height: 50px;
    position: relative;
    background: none;
    border: none;
} 

label #burger div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 80%;
    height: 10%;
    border-radius: 20px;
    /*  trnasition: propriété / durée / délai d'attente  */
    transition: top 0.5s 0.5s, width 0.5s 0.75s, transform 0.5s;


}

/* grace au combinateur "+", on peut chercher un élément qui en suit directement un autre, ici :
on désigne un bouton qui se trouverait juste apres une case a cocher cochée  */

#case_secrete:checked + label #burger div {
    transition: top 0.5s 0.25s, width 0.5s, transform 0.5s 0.75s;

}

label #burger div:first-child {
    top: 30%;

}


label #burger div:last-child {
    top: 70%;
}

/********* ETAT 2 ********/

#case_secrete:checked + label #burger div:first-child,
#case_secrete:checked + label #burger div:last-child {
    top: 50%;

}

#case_secrete:checked + label #burger div:nth-child(2) {
    width: 40%;
    width: 0;
}

#case_secrete:checked + label #burger div:first-child {
    transform: translate(-50%, -50%) rotate(45deg);

}

#case_secrete:checked + label #burger div:last-child {
    transform: translate(-50%, -50%) rotate(-45deg);

}

/********************************/


#case_secrete {
    display: none;
}

label {
    display: block;
    width: fit-content;
}


/* Styles responsive */
@media (max-width: 1000px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 30%;
        position: absolute; 
        top: 5em;
        text-align: center;
        justify-items: end;
        right: 0; /* Change de 'left' à 'right' */
        background-color: #3D2C12;
        padding: 1em 0;
    }
    .navbar-menu.active {
        display: flex;
    }
    .burger {
        display: block;
    }

    .navbar-img {
        display: flex;                
        justify-content: flex-end;    
        gap: 1em;   
        margin-right: -20%; 
    }
    
}
